@import '../../../theme.scss';

:host{
    display: flex;
    align-items: center;
    border-bottom: $tabNavigationBorder;
    margin-bottom: -1px;
    div{
        flex: $tabNavigationFlex;
        cursor: pointer;
        color: $tabNavigationColor;
        font-size: $tabNavigationFontSize;
        line-height: $tabNavigationLineHeight;
        padding: $tabNavigationPadding;
        text-align: center;
        &.active{
            color: $tabNavigationActiveColor;
            border-bottom: $tabNavigationActiveBorderBottom;
        }
    }
}
