<div class="widgetWrapper">
  <div class="widgetTitle" *ngIf="title">
    {{ title | translate }}
  </div>
  <div class="numberTotal" *ngIf="variableData !== undefined && !loading">
    <span *ngIf="formatOptions">{{ variableData | formatNumber: formatOptions }}</span>
    <span *ngIf="!formatOptions">{{ variableData }}</span>
    <span class="units">{{ units | translate }}</span>
  </div>
  <div class="text" *ngIf="text">{{ text | translate }}</div>
  <div class="novariableDataFound" *ngIf="loading === false && (!variableData || variableData === undefined)">
    {{ 'No variableData found' | translate }}
  </div>

  <latitude-loading
    [color]="loadingColor"
    [width]="22"
    [show]="loading === true"
    *ngIf="loading === true"
  ></latitude-loading>
</div>
