<div class="date-range-picker">
  <span (click)="toggleSelector()" [class.clock]="showTime" >{{title}}</span>
  <div class="selector" [class.show]="show">
    <my-date-range-picker
      [options]="myDatePickerOptions"
      [(ngModel)]="model"
      (dateRangeChanged)="onDateRangeChanged($event)"
    >
    </my-date-range-picker>
    <div class="time" *ngIf="time">
      <div class="switch">
        <latitude-switcher (onChange)="switchTime($event)" class="medium"></latitude-switcher>
        <span>Horario</span>
      </div>
      <div class="content" *ngIf="showTime">
        <div>
          <input appOnlyNumber="23" (keyup)="nextInput($event, startMinutes)" maxlength="2" type="text" value="{{start.format('HH')}}" #startHour>
          <span>:</span>
          <input appOnlyNumber="59" (keyup)="nextInput($event, endHour)" maxlength="2" type="text" value="{{start.format('mm')}}" #startMinutes>
        </div>
        <span>to</span>
        <div>
          <input appOnlyNumber="23" (keyup)="nextInput($event, endMinutes)" maxlength="2" type="text" value="{{end.format('HH')}}" #endHour>
          <span>:</span>
          <input appOnlyNumber="59" maxlength="2" type="text" value="{{end.format('mm')}}" #endMinutes>
        </div>
      </div>
      <h4 *ngIf="!showTime">{{'All day'}}</h4>
    </div>
  </div>
</div>
