$colorPrimary: #15b750;
$colorAccent: #0c2247;
$colorForeground: #FFF;
$colorDisabled: #bfbfbf;

$fontFamily: 'Source Sans Pro', sans-serif;
$fontBaseSize: 16px;

$animationFuncDefault: ease-in-out;
$animationFuncAlt: linear;
$animationTimeDefault: .5s;
$animationTimeFast: .2s;
$animationTimeBlink: .125s;
