<div class="widgetTitle" *ngIf="title">{{title}}</div>

<div class="selectedInfo">
 <ng-container *ngIf="disabledList.length === 0">{{ 'ALL Selected' | translate }}</ng-container>
 <ng-container *ngIf="disabledList.length !== 0">{{ histogramData.length - disabledList.length }} {{ 'Selected' | translate }}</ng-container>
</div>

<ng-container *ngIf="histogramData && histogramData.length > 0">
 <div class="categoryWrapper" *ngFor="let d of histogramData" (click)="toggleCategory(d.category)" [class.active]="disabledList.indexOf(d.category) < 0">
   <div class="label">
     <span>{{ d.label | translate }}</span>
     <span *ngIf="formatOptions">{{ d.value | formatNumber: formatOptions }}</span>
     <span *ngIf="!formatOptions">{{ d.value }}</span>
   </div>
   <div class="bar">
    <div>
     <div [ngStyle]="getBarStyle(d)" class="progress"></div>
    </div>
   </div>
 </div>
</ng-container>
