<div class="widgetTitle" *ngIf="title">{{title}}</div>

<div class="selectedInfo">
  <ng-container *ngIf="disabledList.length === 0">{{ 'ALL Selected' | translate }}</ng-container>
  <ng-container *ngIf="disabledList.length !== 0">{{ data.length - disabledList.length }} {{ 'Selected' | translate }}</ng-container>
</div>

<ng-container *ngIf="data && data.length > 0">
  <div class="categoryWrapper" *ngFor="let d of data" (click)="toggleCategory(d.category_id)" [class.active]="disabledList.indexOf(d.category_id) < 0">
    <div class="label">
      <span>{{ d.category | translate }}</span>
      <span>{{ formatValue(d.value) }}</span>
    </div>
    <div class="bar">
      <div>
        <div [ngStyle]="getBarStyle(d)" class="progress"></div>
      </div>
    </div>
  </div>
</ng-container>
