@import '../../../theme.scss';

:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  padding: $widgetCategoryPadding;

  .widgetTitle {
    @include font('bold');
    font-size: 14px;
    line-height: 18px;
    color: $colorN80;
  }

  .selectedInfo {
    font-size: 14px;
    line-height: 16px;
    @include font('regular');
    margin-top: 6px;
    margin-bottom: 26px;
  }

  &.filter {
    .categoryWrapper {
      cursor: pointer;
    }
  }
  &:not(.filter) {
    .categoryWrapper {
      cursor: default;
    }
  }
  .categoryWrapper {

    &:not(.active) {
      .label {

        span {
          color: $colorN20;
        }
      }
      .bar {
        > div {

          .progress {
            background-color: $colorN20 !important;
          }
        }
      }
    }
    & + div {
      margin-top: 14px;
    }
    .label {
      display: flex;
      justify-content: space-between;

      span {
        font-size: 14px;
        line-height: 14px;
        transition: color $animationFuncAlt $animationTimeFast;
      }
    }

    .bar {

      > div {
        height: 6px;
        border-radius: 2px;
        background-color: $colorN05;
        margin-top: 8px;
        position: relative;

        .progress {
          border-radius: 2px;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          transition: background-color $animationFuncAlt $animationTimeFast;
        }
      }
    }
  }
}
